{% extends '../main2.html' %} {% load static %} {% block title %} Thanks for signing up {% endblock %} {% block content %} {% block style %}

{% endblock %}
<header class="mail_header d-flex justify-content-center align-items-center">
    <img src="../../static/images/logo.png" class="img img-thumbnail">
</header>

<main class="container my-5">
    <h2>Hey {{ recepient }},</h2><br>
    <p>Thanks for contacting us. We'll contact you back very soon.</p>

    <br>
    <br>
    <span>
        <b>
            Thanks <br>
            -BookHub Team
        </b>
    </span>
</main>
{% endblock %}