<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks for subscribing</title>
</head>

<body>

    <section class="container my-5 section2">
        <h2>Thanks for subscribing {{ recepient }},</h2>
        <p>Your subscription was recorded into our database. This really was so nice of you. From now on you will get email motifications when we or some one of users uploads any book so that you can catch that up quickly. You are also going to be notified
            when a new blog is uploaded on BookHub. This helps you staying tuned with us easily. We appreciate your positive mindset about us.</p>

        <p><b>Contact us: bookhubinfo@gmail.com</b></p>
        <br><br>

        <span>
             <b>
                 Thanks <br>
                 -BookHub Team
             </b>
         </span>
    </section>
</body>

</html>
