{% extends 'main.html' %}
{% load static %}

{% block title %} Blogs - BookHub {% endblock %}

{% block content %}

  <!-- all-blog start -->

  <section class="blog-section">
    <div class="container">
      <div class="row my-5">
        <h1 class="text-center bg-dark text-white p-3 my-5 heading-border">All Blogs</h1>

      {% for blog in blogs_ins %}
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="card my-3 shadow">
            <div class="bg-info rounded">
              <div class='d-flex justify-content-center align-items-center '>
                <img id="blog-author-img" src={{ blog.user.profile.profile_pic.url }}>
                <p class="m-3">{{ blog.user.first_name }} <br><small>(writer)</small> </p>
              </div>
            </div>
            <img src={{ blog.thumbnail.url }} class='img-fluid' style="height: 200px" alt="">
            <div class="card-body">
              <p class="text-center fw-bolder">{{ blog.title }} </p>
              <p> {{ blog.description }} </p>
            </div>
            <div class="card-footer bg-white d-flex justify-content-between align-items-center">
              <small class='text-info'>{{ blog.created_time }}</small>
              <div>
                <input type="submit" value="Details" class="btn details-btn">
              </div>
            </div>
          </div>
        </div>
          {% endfor %}
        
{#        <div class="col-lg-4 col-md-12 col-sm-12">#}
{#          <div class="card my-3 shadow">#}
{#            <div class=" bg-info rounded">#}
{#              <div class='d-flex justify-content-center align-items-center '>#}
{#                <img id="blog-author-img" src="images/user.jpg" alt="">                  #}
{#                <p class="m-3">Mahian Mahin <br><small>(writer)</small> </p>#}
{#              </div>#}
{#            </div>#}
{#            <img src="images/blog.jpg" class='img-fluid' style="height: 200px" alt="">#}
{#            <div class="card-body">#}
{#              <p class="text-center fw-bolder">Here is my first blog. </p>#}
{#              <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum harum ipsam ut veritatis tempora omnis.</p>#}
{#            </div>#}
{#            <div class="card-footer bg-white d-flex justify-content-between align-items-center">#}
{#              <small class='text-info'>23 March 2021</small>#}
{#              <div>#}
{#                <input type="submit" value="Details" class="btn details-btn">#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-lg-4 col-md-12 col-sm-12">#}
{#          <div class="card my-3 shadow">#}
{#            <div class=" bg-info rounded">#}
{#              <div class='d-flex justify-content-center align-items-center '>#}
{#                <img id="blog-author-img" src="images/user.jpg" alt="">                  #}
{#                <p class="m-3">Mahian Mahin <br><small>(writer)</small> </p>#}
{#              </div>#}
{#            </div>#}
{#            <img src="images/blog.jpg" class='img-fluid' style="height: 200px" alt="">#}
{#            <div class="card-body">#}
{#              <p class="text-center fw-bolder">Here is my first blog. </p>#}
{#              <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum harum ipsam ut veritatis tempora omnis.</p>#}
{#            </div>#}
{#            <div class="card-footer bg-white d-flex justify-content-between align-items-center">#}
{#              <small class='text-info'>23 March 2021</small>#}
{#              <div>#}
{#                <input type="submit" value="Details" class="btn details-btn">#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-lg-4 col-md-12 col-sm-12">#}
{#          <div class="card my-3 shadow">#}
{#            <div class=" bg-info rounded">#}
{#              <div class='d-flex justify-content-center align-items-center '>#}
{#                <img id="blog-author-img" src="images/user.jpg" alt="">                  #}
{#                <p class="m-3">Mahian Mahin <br><small>(writer)</small> </p>#}
{#              </div>#}
{#            </div>#}
{#            <img src="images/blog.jpg" class='img-fluid' style="height: 200px" alt="">#}
{#            <div class="card-body">#}
{#              <p class="text-center fw-bolder">Here is my first blog. </p>#}
{#              <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum harum ipsam ut veritatis tempora omnis.</p>#}
{#            </div>#}
{#            <div class="card-footer bg-white d-flex justify-content-between align-items-center">#}
{#              <small class='text-info'>23 March 2021</small>#}
{#              <div>#}
{#                <input type="submit" value="Details" class="btn details-btn">#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-lg-4 col-md-12 col-sm-12">#}
{#          <div class="card my-3 shadow">#}
{#            <div class=" bg-info rounded">#}
{#              <div class='d-flex justify-content-center align-items-center '>#}
{#                <img id="blog-author-img" src="images/user.jpg" alt="">                  #}
{#                <p class="m-3">Mahian Mahin <br><small>(writer)</small> </p>#}
{#              </div>#}
{#            </div>#}
{#            <img src="images/blog.jpg" class='img-fluid' style="height: 200px" alt="">#}
{#            <div class="card-body">#}
{#              <p class="text-center fw-bolder">Here is my first blog. </p>#}
{#              <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum harum ipsam ut veritatis tempora omnis.</p>#}
{#            </div>#}
{#            <div class="card-footer bg-white d-flex justify-content-between align-items-center">#}
{#              <small class='text-info'>23 March 2021</small>#}
{#              <div>#}
{#                <input type="submit" value="Details" class="btn details-btn">#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-lg-4 col-md-12 col-sm-12">#}
{#          <div class="card my-3 shadow">#}
{#            <div class=" bg-info rounded">#}
{#              <div class='d-flex justify-content-center align-items-center '>#}
{#                <img id="blog-author-img" src="images/user.jpg" alt="">                  #}
{#                <p class="m-3">Mahian Mahin <br><small>(writer)</small> </p>#}
{#              </div>#}
{#            </div>#}
{#            <img src="images/blog.jpg" class='img-fluid' style="height: 200px" alt="">#}
{#            <div class="card-body">#}
{#              <p class="text-center fw-bolder">Here is my first blog. </p>#}
{#              <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum harum ipsam ut veritatis tempora omnis.</p>#}
{#            </div>#}
{#            <div class="card-footer bg-white d-flex justify-content-between align-items-center">#}
{#              <small class='text-info'>23 March 2021</small>#}
{#              <div>#}
{#                <input type="submit" value="Details" class="btn details-btn">#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
      </div>
      </div>
    </div>
  </section>
  <!-- all-blog end -->

  {% endblock %}

