{% extends 'main.html' %}
{% load static %}

{% block title %} {{ request.user.first_name }} {{ request.user.last_name }}'s Blogs | BookHub {% endblock %}

{% block content %}
  <!-- blog start -->

  <section class="blog-section">
    <div class="container">
      <div class="row my-5">
        <div class="col-lg-6">
          <h1 class="text-center heading-border">Add Your Blog</h1>
          <div class="p-2">
            <form action="" class="form-group">
              <input class="form-control " type="text" placeholder="Enter Your Blog Title" aria-label=" example"> 
              <textarea class="form-control" name="" id="" cols="30" placeholder="Enter Blog Details" rows="4"></textarea> 
              <input type="file" accept="image/*" class="form-control btn btn-dark w-75">
              <br><br>
              <input type="submit" value="Save" class="btn btn-success">
              <button id="close_book_add" class="btn btn-danger">Cancel</button>
            </form>
          </div>

          
        </div>
        <div class="col-lg-6 my-blogs all_reviews">
          <h1 class="text-center heading-border">My Blogs</h1>

          <div class="card my-3 shadow">
            <img src="images/blog.jpg" class='img-fluid' alt="">
            <div class="card-body">
              <p class="text-center fw-bolder">Here is my first blog. </p>
              <p class="">With supporting text below as a natural lead-in to additional content.... </p>
            </div>
            <div class="card-footer bg-white d-flex justify-content-between align-items-center">
              <small class='text-info'>23 March 2021</small>
              <div>
                <input type="submit" value="Details" class="btn details-btn">
                <input type="submit" value="Update" class="btn update-btn">
                <input type="submit" value="Delete" class="btn delete-btn">
              </div>
            </div>
          </div>
          <div class="card my-3 shadow">
            <img src="images/blog.jpg" class='img-fluid' alt="">
            <div class="card-body">
              <p class="text-center fw-bolder">Here is my first blog. </p>
              <p class="">With supporting text below as a natural lead-in to additional content.... </p>
            </div>
            <div class="card-footer bg-white d-flex justify-content-between align-items-center">
              <small class='text-info'>23 March 2021</small>
              <div>
                <input type="submit" value="Details" class="btn details-btn">
                <input type="submit" value="Update" class="btn update-btn">
                <input type="submit" value="Delete" class="btn delete-btn">
              </div>
            </div>
          </div>
          <div class="card my-3 shadow">
            <img src="images/blog.jpg" class='img-fluid' alt="">
            <div class="card-body">
              <p class="text-center fw-bolder">Here is my first blog. </p>
              <p class="">With supporting text below as a natural lead-in to additional content.... </p>
            </div>
            <div class="card-footer bg-white d-flex justify-content-between align-items-center">
              <small class='text-info'>23 March 2021</small>
              <div>
                <input type="submit" value="Details" class="btn details-btn">
                <input type="submit" value="Update" class="btn update-btn">
                <input type="submit" value="Delete" class="btn delete-btn">
              </div>
            </div>
          </div>
              
        </div>
      </div>
    </div>
  </section>
  <!-- blog end -->

{% endblock %}