{% extends 'main.html' %}
{% load static %}

{% block title %} All Books Section - BookHub {% endblock %}

{% block content %}
    <!-- ========== Filter section ========== -->
    <section>
        <div class="filter_bar d-flex justify-content-end align-items-center">
          <div class="container d-flex flex-row justify-content-start align-items-center filter-container mx-3">
            <form>
              <select name="category" class="cat_filter">
                <option value="none" selected disabled>Category</option>
                <option value="Adventure">Adventure</option>
                <option value="Action">Action</option>
                <option value="Thriller">Thriller</option>
                <option value="Novel">Novel</option>
              </select>
            </form>
            <button type="submit" class="btn btn-dark">Filter</button>
          </div>
        </div>
    </section>
    <!-- ========== Filter section ========== -->

    <!-- ============= Books page starts here ==================== -->

    <section class="my-5">
        <div class="container">
            <div class="d-flex flex-row justify-content-center align-items-center">
            <div class="book-card-section d-flex flex-row justify-content-start flex-wrap">
                <!-- ------- Book card -------- -->
                <a href="#">
                  <div class="book-card d-flex flex-column shadow">
                      
                      <img class="book_avatar_img w-100" src="./images/download.jpg">

                      <div class="name_section d-flex flex-column py-2 px-3">
                          <h5>Chader Pahar</h5>
                          <span>Bibhutivushon Bondhopoddhay</span>
                      </div>

                      <div class="category_section d-flex flex-row flex-wrap py-2 px-2">
                          <div class="category_box d-flex justify-content-center align-items-center">Adventure</div>
                          <div class="category_box d-flex justify-content-center align-items-center">Thriller</div>
                          <div class="category_box d-flex justify-content-center align-items-center">Survival</div>
                          <div class="category_box d-flex justify-content-center align-items-center">Antic</div>
                      </div>

                      <div class="rating_section d-flex flex-row justify-content-center align-items-start py-2 px-3">
                        <div class="rate_num">4.6</div>
                        <div class="rate_stars mx-2">
                          <i class="fas fa-star" id="stars"></i>
                          <i class="fas fa-star" id="stars"></i>
                          <i class="fas fa-star" id="stars"></i>
                          <i class="fas fa-star" id="stars"></i>
                          <i class="fas fa-star-half-alt" id="stars"></i>
                        </div>
                      </div>
                  </a>
                </div>
                <!-- ------- Book card -------- -->
                
                <!-- ------- Book card -------- -->
                <div class="book-card d-flex flex-column shadow">
                    
                    <img class="book_avatar_img w-100" src="./images/download.jpg">

                    <div class="name_section d-flex flex-column py-2 px-3">
                        <h5>Chader Pahar</h5>
                        <span>Bibhutivushon Bondhopoddhay</span>
                    </div>

                    <div class="category_section d-flex flex-row flex-wrap py-2 px-2">
                        <div class="category_box d-flex justify-content-center align-items-center">Adventure</div>
                        <div class="category_box d-flex justify-content-center align-items-center">Thriller</div>
                        <div class="category_box d-flex justify-content-center align-items-center">Survival</div>
                        <div class="category_box d-flex justify-content-center align-items-center">Antic</div>
                    </div>

                    <div class="rating_section d-flex flex-row justify-content-start align-items-start py-2 px-3">
                      <div class="rate_num">4.6</div>
                      <div class="rate_stars mx-2">
                        <i class="fas fa-star" id="stars"></i>
                        <i class="fas fa-star" id="stars"></i>
                        <i class="fas fa-star" id="stars"></i>
                        <i class="fas fa-star" id="stars"></i>
                        <i class="fas fa-star-half-alt" id="stars"></i>
                      </div>
                    </div>
                </div>
                <!-- ------- Book card -------- -->
                
                <!-- ------- Book card -------- -->
                <div class="book-card d-flex flex-column shadow">
                    
                  <img class="book_avatar_img w-100" src="./images/download.jpg">

                  <div class="name_section d-flex flex-column py-2 px-3">
                      <h5>Chader Pahar</h5>
                      <span>Bibhutivushon Bondhopoddhay</span>
                  </div>

                  <div class="category_section d-flex flex-row flex-wrap py-2 px-2">
                      <div class="category_box d-flex justify-content-center align-items-center">Adventure</div>
                      <div class="category_box d-flex justify-content-center align-items-center">Thriller</div>
                      <div class="category_box d-flex justify-content-center align-items-center">Survival</div>
                      <div class="category_box d-flex justify-content-center align-items-center">Antic</div>
                  </div>

                  <div class="rating_section d-flex flex-row justify-content-start align-items-start py-2 px-3">
                    <div class="rate_num">4.6</div>
                    <div class="rate_stars mx-2">
                      <i class="fas fa-star" id="stars"></i>
                      <i class="fas fa-star" id="stars"></i>
                      <i class="fas fa-star" id="stars"></i>
                      <i class="fas fa-star" id="stars"></i>
                      <i class="fas fa-star-half-alt" id="stars"></i>
                    </div>
                  </div>
              </div>
              <!-- ------- Book card -------- -->

              <!-- ------- Book card -------- -->
              <div class="book-card d-flex flex-column shadow">
                    
                <img class="book_avatar_img w-100" src="./images/download.jpg">

                <div class="name_section d-flex flex-column py-2 px-3">
                    <h5>Chader Pahar</h5>
                    <span>Bibhutivushon Bondhopoddhay</span>
                </div>

                <div class="category_section d-flex flex-row flex-wrap py-2 px-2">
                    <div class="category_box d-flex justify-content-center align-items-center">Adventure</div>
                    <div class="category_box d-flex justify-content-center align-items-center">Thriller</div>
                    <div class="category_box d-flex justify-content-center align-items-center">Survival</div>
                    <div class="category_box d-flex justify-content-center align-items-center">Antic</div>
                </div>

                <div class="rating_section d-flex flex-row justify-content-start align-items-start py-2 px-3">
                  <div class="rate_num">4.6</div>
                  <div class="rate_stars mx-2">
                    <i class="fas fa-star" id="stars"></i>
                    <i class="fas fa-star" id="stars"></i>
                    <i class="fas fa-star" id="stars"></i>
                    <i class="fas fa-star" id="stars"></i>
                    <i class="fas fa-star-half-alt" id="stars"></i>
                  </div>
                </div>
            </div>
            <!-- ------- Book card -------- -->

            <!-- ------- Book card -------- -->
            <div class="book-card d-flex flex-column shadow">
                    
              <img class="book_avatar_img w-100" src="./images/download.jpg">

              <div class="name_section d-flex flex-column py-2 px-3">
                  <h5>Chader Pahar</h5>
                  <span>Bibhutivushon Bondhopoddhay</span>
              </div>

              <div class="category_section d-flex flex-row flex-wrap py-2 px-2">
                  <div class="category_box d-flex justify-content-center align-items-center">Adventure</div>
                  <div class="category_box d-flex justify-content-center align-items-center">Thriller</div>
                  <div class="category_box d-flex justify-content-center align-items-center">Survival</div>
                  <div class="category_box d-flex justify-content-center align-items-center">Antic</div>
              </div>

              <div class="rating_section d-flex flex-row justify-content-start align-items-start py-2 px-3">
                <div class="rate_num">4.6</div>
                <div class="rate_stars mx-2">
                  <i class="fas fa-star" id="stars"></i>
                  <i class="fas fa-star" id="stars"></i>
                  <i class="fas fa-star" id="stars"></i>
                  <i class="fas fa-star" id="stars"></i>
                  <i class="fas fa-star-half-alt" id="stars"></i>
                </div>
              </div>
          </div>
          <!-- ------- Book card -------- -->

          <!-- ------- Book card -------- -->
          <div class="book-card d-flex flex-column shadow">
                    
            <img class="book_avatar_img w-100" src="./images/download.jpg">

            <div class="name_section d-flex flex-column py-2 px-3">
                <h5>Chader Pahar</h5>
                <span>Bibhutivushon Bondhopoddhay</span>
            </div>

            <div class="category_section d-flex flex-row flex-wrap py-2 px-2">
                <div class="category_box d-flex justify-content-center align-items-center">Adventure</div>
                <div class="category_box d-flex justify-content-center align-items-center">Thriller</div>
                <div class="category_box d-flex justify-content-center align-items-center">Survival</div>
                <div class="category_box d-flex justify-content-center align-items-center">Antic</div>
            </div>

            <div class="rating_section d-flex flex-row justify-content-start align-items-start py-2 px-3">
              <div class="rate_num">4.6</div>
              <div class="rate_stars mx-2">
                <i class="fas fa-star" id="stars"></i>
                <i class="fas fa-star" id="stars"></i>
                <i class="fas fa-star" id="stars"></i>
                <i class="fas fa-star" id="stars"></i>
                <i class="fas fa-star-half-alt" id="stars"></i>
              </div>
            </div>
        </div>
        <!-- ------- Book card -------- -->

        <!-- ------- Book card -------- -->
        <div class="book-card d-flex flex-column shadow">
                    
          <img class="book_avatar_img w-100" src="./images/download.jpg">

          <div class="name_section d-flex flex-column py-2 px-3">
              <h5>Chader Pahar</h5>
              <span>Bibhutivushon Bondhopoddhay</span>
          </div>

          <div class="category_section d-flex flex-row flex-wrap py-2 px-2">
              <div class="category_box d-flex justify-content-center align-items-center">Adventure</div>
              <div class="category_box d-flex justify-content-center align-items-center">Thriller</div>
              <div class="category_box d-flex justify-content-center align-items-center">Survival</div>
              <div class="category_box d-flex justify-content-center align-items-center">Antic</div>
          </div>

          <div class="rating_section d-flex flex-row justify-content-start align-items-start py-2 px-3">
            <div class="rate_num">4.6</div>
            <div class="rate_stars mx-2">
              <i class="fas fa-star" id="stars"></i>
              <i class="fas fa-star" id="stars"></i>
              <i class="fas fa-star" id="stars"></i>
              <i class="fas fa-star" id="stars"></i>
              <i class="fas fa-star-half-alt" id="stars"></i>
            </div>
          </div>
      </div>
      <!-- ------- Book card -------- -->

      <!-- ------- Book card -------- -->
      <div class="book-card d-flex flex-column shadow">
                    
        <img class="book_avatar_img w-100" src="./images/download.jpg">

        <div class="name_section d-flex flex-column py-2 px-3">
            <h5>Chader Pahar</h5>
            <span>Bibhutivushon Bondhopoddhay</span>
        </div>

        <div class="category_section d-flex flex-row flex-wrap py-2 px-2">
            <div class="category_box d-flex justify-content-center align-items-center">Adventure</div>
            <div class="category_box d-flex justify-content-center align-items-center">Thriller</div>
            <div class="category_box d-flex justify-content-center align-items-center">Survival</div>
            <div class="category_box d-flex justify-content-center align-items-center">Antic</div>
        </div>

        <div class="rating_section d-flex flex-row justify-content-start align-items-start py-2 px-3">
          <div class="rate_num">4.6</div>
          <div class="rate_stars mx-2">
            <i class="fas fa-star" id="stars"></i>
            <i class="fas fa-star" id="stars"></i>
            <i class="fas fa-star" id="stars"></i>
            <i class="fas fa-star" id="stars"></i>
            <i class="fas fa-star-half-alt" id="stars"></i>
          </div>
        </div>
    </div>
    <!-- ------- Book card -------- -->

    </div>
        </div>
        </div>
    </section>



    <!-- ============= Books page ends here ==================== -->

{% endblock %}