{% extends 'main.html' %}
{% load static %}

{% block title %} Book Name - Books | BookHub {% endblock title %}

{% block content %}

    <section>
        <div class="container-fluid">
          <div class="row">
          <div class="col-sm-4 px-3 py-3 d-flex flex-column">
            <div class="book_details">
              <h2 class="mb-3">Book details</h2>
              <span class="details_name">Title :</span> <span class="details_detail">{{ book.book_name }}</span> <br>
              <span class="details_name">Author :</span> <span class="details_detail">{{ book.author_name }}</span> <br>
              <span class="details_name">Language :</span> <span class="details_detail">{{ book.language }}</span> <br>
              <span class="details_name">Category :</span> <span class="details_detail">{{ book.book_category }}</span> <br>
              <span class="details_name">Rating :</span> <span class="details_detail">{{ rating }} ({{ review_count }})</span> <br>
              <span class="details_name">Uploaded by :</span> <span class="details_detail">{{ book.uploader.first_name }} {{ book.uploader.last_name }}</span> <br>
              <span class="details_name">Description :</span> <span class="details_detail">{{ book.description }}</span>
              
            </div>

            <div class="reviews my-3">
              <h2 id="type">Reviews</h2>
              <form class="form-group w-100" method="POST">
              {% csrf_token %}
                <textarea class="form-control" name="review" rows="2" placeholder="Leave a review of this book here"></textarea>
                <div class="stars_review my-2 d-flex flex-row">
                  <div class="mx-1" id="star_1"><i class="fa-star fas"></i></div>
                  <div class="mx-1" id="star_2"><i class="fa-star fas"></i></div>
                  <div class="mx-1" id="star_3"><i class="fa-star fas"></i></div>
                  <div class="mx-1" id="star_4"><i class="fa-star fas"></i></div>
                  <div class="mx-1" id="star_5"><i class="fa-star fas"></i></div>
                </div>
                <input type="number" id="rating_stars_hidden" value="" name="rating_stars" hidden>
                <button type="submit" class="btn btn-dark my-2">Save</button>
              </form>
            </div>

            <div class="all_reviews px-2 py-2">

            {% for review in reviews %}
              <!-- ---------- Review box ---------- -->
              <div class="review_box shadow px-2 py-2 my-2">
                
                <div class="d-flex flex-column">
                  <div class="d-flex flex-row">
                    {% if review.user.profile.profile_pic %}
                      <img src={{ review.user.profile.profile_pic.url }}>
                    {% else %}
                      <img src={% static "/images/user.jpg" %}>
                    {% endif %}

                    <div class="d-flex flex-column mx-3">
                      <span class="user_name"><b>{{ review.user.first_name }} {{ review.user.last_name }}</b></span>

                      <div class="stars d-flex flex-row">
                        {% for star in "x"|ljust:review.star %}
                          <i class="fas fa-star"></i>
                        {% endfor %}
                      </div>
                    </div>
                  </div>

                  <div class="review_description my-2">
                    {{ review.review }}
                  </div>
                </div>
              </div>
              <!-- ---------- Review box ---------- -->
            {% endfor %}

            </div>
          </div>

          <div class="col-sm-8">
            {% comment %} <iframe src={{ book.book.url }} type="application/pdf" height="800px" width="100%" class="pdf_box"></iframe> {% endcomment %}
            {% comment %} <iframe src='/media/pdf/Python_2nd_part.pdf#toolbar=0' type="application/pdf" height="800px" width="100%" class="pdf_box"></iframe> {% endcomment %}
            {% comment %} <iframe src={{ book.book.url }} type="application/pdf" height="800px" width="100%" class="pdf_box"></iframe> {% endcomment %}
          </div>
        </div>
        </div>
    </section>



{% endblock content %}