{% extends 'main.html' %}
{% load static %}

{% block title %} {{ request.user.first_name }} {{ request.user.last_name }} | Dashboard - BookHub {% endblock %}

{% block content %} 

    <div class="container my-5">
        <!-- -----personal info row------ -->
        <div class="row personal_info">
            <div class="col-sm-5 my-3 profile_pic_section d-flex justify-content-center align-items-center">
                <img src={% static "images/user.jpg"%}>
            </div>

            <div class="col-sm-7 my-3 profile_info">
                <h3>Personal Infotmation</h3>
                <form method="post" class="form-group my-3 personal_info_form">
                    {% csrf_token %}
                    <input type="text" class="form-control" placeholder="First Name" value={{ f_name }} name="f_name">
                    <input type="text" class="form-control" placeholder="Last Name" value={{ l_name }} name="l_name">
                    <input type="email" class="form-control" placeholder="Email" value={{ email }} name="email"  disabled>
                    <input type="text" class="form-control" placeholder="address"  name="address">
                    <input type="text" class="form-control" placeholder="occupation"  name="occupation">
                    <input type="text" class="form-control" placeholder="Enter Your bio" name="bio">
                    <div class="d-flex flex-row flex-wrap">
                        <label for="avatar_file" name="pro_pic" class="btn btn-dark mx-1 my-1">Change Avatar</label>
                        <a href={% url 'user_dashboard' %}><button type="submit" class="btn btn-success mx-1 my-1">Save Changes</button></a>
                    </div>
                </form>
                        <input type="file" class="btn btn-dark mx-1 my-1" id="avatar_file" accept="image/*">
                        <a href={% url 'reset_password' %}><button class="btn btn-dark mx-1 my-1">Change Password</button></a>
                        <a href={% url 'forget_password' %}><button class="btn btn-dark mx-1 my-1">Forgot Password</button></a>
            </div>
        </div>

        <!-- ------review row----------- -->
        <div class="row review_section my-5">
            <h3>Your Reviews</h3>
            <!-- Slider container -->
            <div class="review_slider d-flex flex-row align-items-center">
                <!-- Single review card start -->
                <div class="review_card shadow">
                    <a href="#"><h5>Title of book</h5></a>
                    <div class="review_description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ex in nesciunt facere odit incidunt temporibus eveniet ullam voluptatem natus......</p>
                    </div>
                </div>
                <!-- Single review card end -->
                
                <!-- Single review card start -->
                <div class="review_card shadow">
                    <a href="#"><h5>Title of book</h5></a>
                    <div class="review_description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ex in nesciunt facere odit incidunt temporibus eveniet ullam voluptatem natus......</p>
                    </div>
                </div>
                <!-- Single review card end -->

                <!-- Single review card start -->
                <div class="review_card shadow">
                    <a href="#"><h5>Title of book</h5></a>
                    <div class="review_description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ex in nesciunt facere odit incidunt temporibus eveniet ullam voluptatem natus......</p>
                    </div>
                </div>
                <!-- Single review card end -->

                <!-- Single review card start -->
                <div class="review_card shadow">
                    <a href="#"><h5>Title of book</h5></a>
                    <div class="review_description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ex in nesciunt facere odit incidunt temporibus eveniet ullam voluptatem natus......</p>
                    </div>
                </div>
                <!-- Single review card end -->

                <!-- Single review card start -->
                <div class="review_card shadow">
                    <a href="#"><h5>Title of book</h5></a>
                    <div class="review_description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ex in nesciunt facere odit incidunt temporibus eveniet ullam voluptatem natus......</p>
                    </div>
                </div>
                <!-- Single review card end -->
            </div>
        </div>

        <div class="row uploaded_books mt-5">
            <h3>Your Uploaded Books</h3>
            <table class="table table-hover mt-3">
                <thead>
                  <tr class="bg-dark text-white">
                    <th scope="col">Book Name</th>
                    <th scope="col">Date Uploaded</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Chader Pahar by Bibhutibhushon Bondhopaddhay</td>
                    <td>19 September 2021</td>
                    <td><a href="#"><button class="btn btn-danger">Delete</button></a></td>
                  </tr>
                  <tr>
                    <td>Nuliyachorir Shonar Pahar by Shariar Kobir</td>
                    <td>13 September 2021</td>
                    <td><a href="#"><button class="btn btn-danger">Delete</button></a></td>
                  </tr>
                  <tr>
                    <td>Himu Shomogro by Humayun Ahmed</td>
                    <td>11 September 2021</td>
                    <td><a href="#"><button class="btn btn-danger">Delete</button></a></td>
                  </tr>
                </tbody>
            </table>
        </div>

        <div class="row add_book_section">
            <button class="btn btn-dark w-100" id="add_btn"><i class="fas fa-plus"></i>&nbsp; Add A New Book</button>
        </div>

        <div class="row add_book_form my-3" id="add_book_section">
            <h4 class="my-3">Add A New Book</h4>
            <form class="form-group book_upload_form">
                <input type="text" class="form-control" placeholder="Book Name">
                <input type="text" class="form-control" placeholder="Author Name">
                <select name="language" class="form-crontrol w-100 language_select">
                    <option value="--" disabled selected>Select Book Language</option>
                    <option value="Bangla">Bangla</option>
                    <option value="English">English</option>
                </select>
                <textarea rows="3" class="form-control" placeholder="Book Description"></textarea>
                <h5>Select Book Categories</h5>
                <div class="categories d-flex flex-row flex-wrap">
                    <label>
                        <input type="checkbox" class="checkbox" value="Action and Adventure" id="checkbox">
                        <span>Action and adventure</span>
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" value="Art/Architecture" id="checkbox">
                        <span>Art/architecture</span>
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" value="History" id="checkbox">
                        <span>History</span>
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" value="Biography" id="checkbox">
                        <span>Biography</span>
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" value="Comic Book" id="checkbox">
                        <span>Comic book</span>
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" value="Crime" id="checkbox">
                        <span>Crime</span>
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" value="Drama" id="checkbox">
                        <span>Drama</span>
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" value="Health/Fitness" id="checkbox">
                        <span>Health/fitness</span>
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" value="Humor" id="checkbox">
                        <span>Humor</span>
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" value="Horror" id="checkbox">
                        <span>Horror</span>
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" value="Journal" id="checkbox">
                        <span>Journal</span>
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" value="Romance" id="checkbox">
                        <span>Romance</span>
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" value="Philosophy" id="checkbox">
                        <span>Philosophy</span>
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" value="Prayer" id="checkbox">
                        <span>Prayer</span>
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" value="Islamic" id="checkbox">
                        <span>Islamic</span>
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" value="Thriller" id="checkbox">
                        <span>Thriller</span>
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" value="Crime" id="checkbox">
                        <span>Crime</span>
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" value="Science" id="checkbox">
                        <span>Science</span>
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" value="Suspense" id="checkbox">
                        <span>Suspense</span>
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox" value="Travel" id="checkbox">
                        <span>Travel</span>
                    </label>
                </div>

                <input type="text" id="categories_field" name="category_value" hidden>

                <h5 class="my-3">Select Book Pdf File</h5>
                <input type="file" accept="pdf" class="btn btn-dark">
                <br><br>
                <input type="submit" value="Save" class="btn btn-success">
                <button id="close_book_add" class="btn btn-danger">Cancel</button>
            </form>
        </div>
    </div>

    <script>
        var list = [];
        
        for(var checkbox of document.querySelectorAll('.checkbox')) {
            checkbox.addEventListener('click', (e) => {
                if(e.target.checked == true) {
                    list.push(e.target.value);
                    document.getElementById('categories_field').value = list.join(', ');
                } else {
                    list = list.filter(f => f !== e.target.value);
                    document.getElementById('categories_field').value = list.join(', ');
                }
            })
        }
    </script>    

{% endblock %}