{% extends 'main2.html' %}

{% load static %}

{% block title %} BookHub | Forget Password {% endblock title %}

{% block content %}
    <!-- Row for logo and sreachbar start -->
    {% comment %} <div class="container-fluid">
      <div class="row logo-row">
        <div class="col-sm-12 text-center text-white">
          <h2 class="my-3 logo">BookHub | Forget-Password</h2>
        </div>
      </div>
    </div> {% endcomment %}

    <!-- login form start  -->
    <section id="login-section">
      <div class="login-box">
        <div class="form">
          <h3 class='text-center'>Forget-Password</h3>
          <form action="">
            <div class="inputbox">
              <i class="fas fa-envelope mx-2"></i>
              <input type="text" placeholder="Enter your registered email.">
            </div>
            <div class="inputbox">
              <input type="submit" value="submit" class="w-50 mx-auto">
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- login form end  -->
{% endblock %}