{% load static %}
    <!-- Row for logo and sreachbar start -->
    <div class="container-fluid">
      <div class="row logo-row">
        <div class="col-sm-12 text-center text-white">
          <h2 class="my-3 logo">BookHub</h2>
        </div>
      </div>
      <!-- Row for navbar and cart icons start -->

      <div class="row logo-row search-icons-section" id="hide">
        <div class="col-sm-6 d-flex justify-content-center">
          <!-- Search bar -->
          <div class="search-bar my-3">
            <form method="post" class="d-flex flex-row">
              <input type="text" name="search" placeholder="Search by book name or writter name"/>
              <button type="submit"><i class="fas fa-search"></i></button>
            </form>
          </div>
          <!-- Search bar -->
        </div>

        <div class=" col-sm-6 d-flex justify-content-center align-items-center px-5 icon-section">
          <a href="#"><i class="fas fa-shopping-cart icons"></i></a>
          <a href="login"><i class="fas fa-sign-in-alt icons"></i></a>
          <a href="signup.html"><i class="fas fa-user-plus icons"></i></a>
        </div>
      </div>
      <!-- Row for navbar and cart icons end -->

      <!-- Row for nav links start -->

      <!-- ========== Desktop navbar ========== -->
      <div class="row navbar-desktop" id="hide">
        <div class=" col-sm-12 d-flex flex-row justify-content-center align-items-center nav-links">
          <a href="index.html" class="d-flex justify-content-center active">Home</a>
          <a href="books.html" class="d-flex justify-content-center">Books</a>
          <a href="all-blogs.html" class="d-flex justify-content-center">Blogs</a>
          <a href="blog.html" class="d-flex justify-content-center">My Blogs</a>
          <a href="about-us.html" class="d-flex justify-content-center">About Us</a>
          <a href="contact.html" class="d-flex justify-content-center">Contact Us</a>
        </div>
      </div>
      <!-- ========== Desktop navbar ========== -->

      <!-- Row for nav links end -->

      <!-- row for logo and sreachbar start -->
    </div>

    <!-- ========== Phone navbar ========== -->

    <div class="phone-navbar-outer shadow-lg" id="phone_outer">
      <div class="pop-button d-flex justify-content-center align-items-center" id="pop_button">
        <i class="fas fa-angle-up phone-nav-icon"></i>
      </div>
      <div class=" phone-inner d-flex flex-row justify-content-between align-items-center">
        <a href="#"><i class="fas fa-home phone-nav-icon my-3 mx-4" id="phone_nav_icons"></i></a>
        <a href="#"><i class="fas fa-book-open phone-nav-icon my-3 mx-4" id="phone_nav_icons"></i></a>
        <a href="#"><i class="fas fa-blog phone-nav-icon my-3 mx-4" id="phone_nav_icons"></i></a>
        <a href="#"><i class="fas fa-user phone-nav-icon my-3 mx-4" id="phone_nav_icons"></i></a>
      </div>

      <div class=" phone_links d-flex flex-row flex-wrap justify-content-center px-3">
        <a href="index.html" class="text-center d-flex align-items-center justify-content-center">Home</a>
        <a  href="books.html" class="text-center d-flex align-items-center justify-content-center">Books</a>
        <a href="all-blogs.html" class="text-center d-flex align-items-center justify-content-center">Blogs</a>
        <a  href="blog.html" class="text-center d-flex align-items-center justify-content-center">My Blogs</a>
        <a href="about-us.html" class="text-center d-flex align-items-center justify-content-center">About Us</a>
        <a href="contact.html" class="text-center d-flex align-items-center justify-content-center">Contact Us</a>
        <a href="login.html" class="text-center d-flex align-items-center justify-content-center">Login</a>
        <a href="signup.html" class="text-center d-flex align-items-center justify-content-center">Signup</a>
        <!-- Search bar -->
        <div class="search-bar my-3 phone-search mt-3">
          <form method="post" class="d-flex flex-row">
            <input type="text" name="search" placeholder="Search by book name or writter name"/>
            <button type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
        <!-- Search bar -->
      </div>
    </div>

    <!-- ========== Phone navbar ========== -->
