{% extends 'main.html' %}
{% load static %}

{% block title %} Blog title - Author name | BookHub {% endblock %}

{% block content %}

    <!-- blog start -->

    <section class="single-blog-section">
        <div class="container">
            <div class="row my-5">
                <div class="col-lg-4">
                    <div class="author-info">
                        <h6>Author Information</h6>
                        <div class="d-flex justify-content-center align-items-center my-2">
                            <img src={{ blog_ins.user.profile.profile_pic.url }} class="img-fluid" alt="">
                        </div>
                        <p><b>Published by:</b> {{ blog_ins.user.first_name }}  {{ blog_ins.user.last_name }}
                        <small>
                            {% if blog_ins.user.is_superuser %}
                                Admin
                        {% endif %}
                        </small>

                        </p>


                        <p><b>Published Date:</b> <small>{{ blog_ins.created_time }}</small></p>
                    </div>
                    <div class="others-blog">
                        <h6>Other Blogs</h6>
                        {% for blg in author_blogs %}
                        <p><a href={% url 'single_blog' id=blg.id title=blg.title %}>{{ blg.title }}</a></p>
                        {% endfor %}

                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="single-blog-details">
                        <h6>{{ blog_ins.title }}</h6>
                        <img class="img-fluid my-3" src={{ blog_ins.thumbnail.url }}>

                        <p>{{ blog_ins.description }}</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- blog end -->



{% endblock %}